* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  color: #fff;
}

/* Sektion: Feature (Bild + Text) */
.first-section {
  background: url("./assets/back/back1.png") no-repeat center/cover; /* Hintergrundbild */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1357px;
  padding: 40px 20px;
  /* align-items: center; */
  /* justify-content: center; */
}

.first-section .hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.first-section img {
  width: 159px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

.first-section .headline {
  font-size: 32px;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 50px;
}

.first-section .footer_text-box {
  max-width: 414px;
  margin-top: 60px;
}
.first-section .footer_text-box p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #14f1d9;
  border-bottom: 1px solid #14f1d9;
  text-transform: uppercase;
}
.first-section .text-box {
  max-width: 430px;
  margin: 10px;
}

.first-section .text-box p {
  font-size: 24px;
  text-align: center;
}

.first-section .text-box .first,
.first-section .text-box .second {
  margin-top: 30px;
}
.first-section .text-box .second {
  margin-top: 30px;
  padding: 0 10px;
}
/* Umkehrung der Reihenfolge für Abwechslung */
.first-section.reverse {
  flex-direction: row-reverse;
}

.second-section .iframe-container {
  background: url("./assets/back/iframe.png") no-repeat center/cover; /* Hintergrundbild */
  padding: 40px 36px;
  /* height: 448px; */
}

.second-section .tech-container {
  background: url("./assets/back/back-text.png") no-repeat center/cover; /* Hintergrundbild */
  height: 371px;
}
.second-section .text-box {
  padding: 36px;
}
.second-section .headline {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.second-section .descr {
  font-size: 18px;
}
.badge {
  height: 1px;
  width: 40%;
  background-color: #14f1d9;
}
.badge2 {
  height: 1px;
  width: 50%;
  background-color: #14f1d9;
}
.second-section .back-img {
  background: url("./assets/back/back-img.png") no-repeat center/cover; /* Hintergrundbild */
  height: 468px;
}

.third-section {
  background-color: #091642;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  /* gap: 20px; */
}
.third-section .header .header-box {
  position: absolute;
  z-index: 10;
  border-top: 1px solid #14f1d9;
  top: 50px;
  left: 130px;
  padding-right: 20px;
  text-transform: uppercase;
}

.third-section .header .header-box .headline {
  font-size: 25px;
  font-weight: 600;
}

.third-section .header {
  /* background: url("./assets/back/header.png") no-repeat center/cover; Hintergrundbild */
  height: 123px;
  position: relative;
  margin-bottom: 40px;
}
.third-section .head {
  font-size: 33px;
  text-align: center;
  line-height: 2.5;
}

.third-section .header img {
  /* background: url("./assets/back/header.png") no-repeat center/cover; Hintergrundbild */
  position: absolute;
}

.third-section .card {
  background: url("./assets/back/card-1.png") no-repeat center/cover; /* Hintergrundbild */
  padding: 0 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section .card .img-container {
  display: flex;
  justify-content: center;
}
.third-section .card-1 .img-container {
  padding: 60px 0 40px;
}
.third-section .card-2 .img-container {
  padding: 60px 0 40px;
}
.third-section .card-3 .img-container {
  padding: 90px 0 40px;
}

.third-section .card .headline {
  font-size: 33px;
  text-align: center;
}
.third-section .card .headline {
  font-size: 33px;
  text-align: center;
  line-height: 2.5;
}
.third-section .card .descr {
  font-size: 26px;
  text-align: center;
  line-height: 2;
  color: #9fa5d6;
}
.third-section .card .footer-text {
  font-size: 22px;
  text-align: center;
  line-height: 2;
  color: #14f1d9;
  width: 255px;
  border-bottom: 1px solid #14f1d9;
  text-transform: uppercase;
}
/* .third-section .card-2 .footer-text {
  font-size: 22px;
  text-align: center;
  line-height: 2;
  color: #14f1d9;
  border-bottom: 1px solid #14f1d9;
} */
/* .third-section .card-1 {
} */

.fourth-section {
  padding: 40px 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #091642;
}

.fourth-section .headline {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.fourth-section .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px;
  margin-bottom: 60px;
}
.fourth-section .col .head p {
  font-size: 18px;
}
.fourth-section .col .head span {
  font-size: 20px;
  font-weight: 600;
}

.fourth-section .col .head {
  margin-bottom: 15px;
}

.fifth-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #091642;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth-section .headline {
  font-size: 24px;
  margin: 20px 0;
  text-transform: uppercase;
}
.fifth-section .card {
  background-color: #1f3065;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.fifth-section .card .head {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: start;
  font-weight: 600;
}
.fifth-section .card .cols {
  display: flex;
}
.fifth-section .card .cols .first {
  margin-right: 60px;
}
.fifth-section .card .cols .first .text-sm {
  text-align: start;
}
.fifth-section .card .cols .second {
  margin: 0;
}
.fifth-section .card .cols .second .text {
  font-weight: 600;
}

.sixth-section {
  background: url("./assets/back/sixth.png") no-repeat center/cover; /* Hintergrundbild */
  padding: 70px 40px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 297px;
}

.sixth-section .card {
  background: linear-gradient(90deg, rgba(25, 77, 145, 1) 2%, rgba(9, 164, 209, 1) 100%);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.sixth-section .card .cols {
  display: flex;
  justify-content: space-between;
}
.sixth-section .card .col {
  display: flex;
  justify-content: space-between;
}
.sixth-section .card .cols {
  display: flex;
  justify-content: space-between;
}

.sixth-section .card .text-box {
  border-top: 2px solid #14f1d9;
  padding-top: 10px;
  margin: 10px 0 20px;
  font-size: 12.5px;
}
.sixth-section .card .text-box p {
  text-align: start;
  font-size: 12.5px;
  text-transform: uppercase;
  line-height: 2;
}
.sixth-section .visit-card .cols {
  display: flex;
}
.sixth-section .card .cols .first,
.sixth-section .card .cols .second {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sixth-section .card .cols .first .text,
.sixth-section .card .cols .second .text {
  font-size: 12.5px;
  margin: 0 10px 0 5px;
}

footer {
  background-color: #091642;
  text-align: center;
  padding: 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .icons {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding: 0 15px;
}
footer .container .info {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 0px 25px;
}

footer .container .info .text {
  font-size: 13px;
}
